@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

body {
	--sb-track-color: #c7c7c7;
	--sb-thumb-color: #795486;
	--sb-size: 5px;

	scrollbar-color: var(--sb-thumb-color) var(--sb-track-color);
}

body::-webkit-scrollbar {
	width: var(--sb-size);
}

body::-webkit-scrollbar-track {
	background: var(--sb-track-color);
	border-radius: 10px;
}

body::-webkit-scrollbar-thumb {
	background: var(--sb-thumb-color);
	border-radius: 10px;
}

/*@ Components */
.btn {
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s;
}
