@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;


/*@ Components */
.btn {
	background-color: #b8c0ff;
	color: #fff;
	border: none;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: background-color 0.3s;
}

.btn:hover {
	background-color: #e7c6ff;
}
