@import url("https://fonts.googleapis.com/css2?family=Exo+2:wght@400;600&family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap");

:root {
  --primary-font: "Montserrat", sans-serif;
  --second-font: "Exo 2", sans-serif;
  --light-purple: #e7c6ff;
  --purple: #c8b6ff;
  --lilic: #b8c0ff;
  --light-pink: #ffd6ff;
  --blue: #bbd0ff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
body {
  font-size: 1.6rem;
  margin: 0;
  background-color: #f8f9fa;
  font-family: var(--primary-font);
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  text-decoration: none;
  color: #000;
  cursor: pointer;
  transition: color 0.3s ease-in-out;
}
a:hover {
  color: #d0bfff;
}

/*@ Clases generales */
.btn {
  background-color: var(--lilic);
  color: #fff;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.btn:hover {
  background-color: var(--light-purple);
}

/** Header */
.site__header {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
  align-items: center;
  padding: 2rem 1rem;
  border-bottom: 1px solid var(--light-pink);
}
.navigation__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
}
.logo {
  color: #000;
  font-family: var(--second-font);
}

.navbar {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
