<div
	class="bg-gray-100 pt-5 flex flex-col content-center gap-5 lg:rounded-md h-screen justify-center overflow-hidden lg:grid lg:grid-cols-2"
>
	<div class="lg:border lg:border-violet-500 lg:rounded-md">
		<h1 class="text-4xl font-bold font-primary text-center">
			Berry<span class="text-[#81809F]">Exams</span>
		</h1>
		<h2 class="text-center">Sign In</h2>
		<form class="px-4 flex flex-col gap-2 content-center">
			<div class="flex flex-col p-4">
				<label class="text-xl font-semibold" for="userName"
					><fa-icon class="text-purple" [icon]="faEnvelope"></fa-icon>
					Email:</label
				>
				<input
					class="border-b outline-none border-b-gray-200 px-2 py-3 focus:border focus:border-purple transition-all ease-in-out duration-300 rounded-md"
					type="text"
					name="userName"
					id="userName"
					placeholder="jhondoe@email.com"
					required
				/>
			</div>
			<div class="flex flex-col p-4">
				<label class="text-xl font-semibold" for="password"
					><fa-icon class="text-purple" [icon]="faLock"></fa-icon>
					Password:</label
				>
				<input
					class="border-b outline-none border-b-gray-200 px-2 py-3 focus:border focus:border-purple transition-all ease-in-out duration-300 rounded-md"
					type="password"
					name="password"
					id="password"
					placeholder="********"
				/>
			</div>
			<button
				class="text-sm text-cyan-600 hover:cursor-pointer"
				(click)="toggle.emit()"
				type="button"
			>
				You don't have an account?
			</button>

			<button
				class="btn bg-blue w-36 text-center px-4 py-1 mx-auto"
				(click)="login($event)"
			>
				Log In
			</button>
		</form>
	</div>
	<img class="h-96" src="/assets/images/form_image.png" alt="login image" />
</div>
