<header
	class="flex flex-row gap-4 items-center px-1 py-4 justify-evenly border-b border-b-gray-200 sticky top-0 bg-white"
>
	<h1 class="text-4xl font-bold font-primary">
		Berry<span class="text-[#81809F]">Exams</span>
	</h1>
	<a
		href="#"
		class="btn bg-blue hover:bg-lightPink px-4 py-2 text-center font-second lg:w-32"
		>Log in</a
	>
</header>
<main class="flex flex-col gap-4 content-center">
	<div
		class="flex flex-col gap-4 lg:flex-row content-center bg-emerald-100 lg:items-center lg:max-w-4xl lg:mx-auto"
	>
		<div class="flex flex-col gap-4 mt-2 content-center px-4 py-2">
			<h2 class="text-xl font-bold text-center">
				Reinforce your knowledge
			</h2>
			<p>A great way to reinforce your knowledge in general topics</p>
			<p>Improve yourself with some exams</p>
			<a
				href="#"
				class="btn px-4 py-2 w-44 mx-auto bg-lightPurple hover:bg-blue text-center font-second"
				>Register Now</a
			>
		</div>
		@if(screenWidht <= 560) {
		<img
			class="h-3/4 w-full"
			src="/assets/images/study_large.jpg"
			alt="study image"
		/>
		} @else {
		<img class="w-1/2" src="/assets/images/study.jpg" alt="study image" />
		}
	</div>
	<div class="flex flex-col gapx-4 content-center">
		<h2 class="text-4xl font-bold text-center mb-4">Our services</h2>
		<div class="lg:grid lg:grid-cols-3">
			<article
				class="p-3 flex flex-col gap-4 text-center content-center bg-blue"
			>
				<img
					class="w-24 mx-auto"
					src="/assets/images/icono_estudio.png"
					alt="icono estudio"
				/>
				<h2 class="text-xl font-bold text-center mb-4">
					What can you do here?
				</h2>
				<p>
					Here you gonna be able to make exams in different topics or
					make one
					<span class="font-bold">admition like exam</span> to
					practice or reinforce the knowledge you already had.
				</p>
			</article>
			<article class="p-3 bg-emerald-100 text-center">
				<img
					class="w-24 mx-auto"
					src="/assets/images/icono_estudio.png"
					alt="icono estudio"
				/>
				<h2 class="text-xl font-bold text-center mb-4">
					Can I make unlimited exams?
				</h2>
				<p>
					Sorry but no, you have access to 1 general exam and 3 topic
					exams (the topic are whatever you want).
				</p>
			</article>

			<article class="p-3 bg-amber-100 text-center">
				<img
					class="w-24 mx-auto"
					src="/assets/images/icono_estudio.png"
					alt="icono estudio"
				/>
				<h2 class="text-xl font-bold text-center mb-4">
					What topics can i have exams?
				</h2>
				<p>
					We offer exams of global history, math, chemestry, biology,
					Spanish, Pshisycal, literatury, Geografy, Mexican Hisotry.
				</p>
			</article>
		</div>
	</div>
	<div class="flex flex-col gapx-4 content-center">
		<h2 class="text-2xl font-bold text-center mb-3">FAQS</h2>
		<div
			class="lg:max-w-xl lg:mx-auto mb-5 flex flex-col gap-4 text-center"
		>
			<article class="border border-gray-200">
				<h3
					class="py-3 bg-gray-200 text-center font-bold text-xl mb-2 relative"
				>
					Why Berry Exams?
				</h3>
				<p class="p-4">
					Well the response is simple, i want to improve my skills in
					programming so i build this site, the idea come from my best
					friend and i make the magic
				</p>
			</article>
			<article class="border border-gray-200">
				<h3
					class="py-3 bg-gray-200 items-center text-center font-bold text-xl mb-2 relative"
				>
					I need a real account?
				</h3>

				<p class="p-4">
					Obviuosly *wing wing*... being honest this is just to
					improve my skill so if you don't wanna expose your data
					then you can create a fake account and used the app
				</p>
			</article>
			<article class="border border-gray-200">
				<h3
					class="py-3 bg-gray-200 text-center font-bold text-xl mb-2 relative"
				>
					Where do you get the questions for the exams?
				</h3>

				<p class="p-4">Well that's a secret 👀</p>
			</article>
		</div>
	</div>
</main>
<app-footer />
