<header
	class="flex flex-row gap-4 items-center px-1 py-4 justify-evenly border-b border-b-gray-200"
>
	<h1 class="text-4xl font-bold font-primary">
		Berry<span class="text-lilac">Exams</span>
	</h1>
	<a href="#" class="btn px-4 py-2 text-center font-second lg:w-32">Log in</a>
</header>
<main class="flex flex-col gap-4 mt-2 content-center max-w-md px-4 py-2">
	<p>A great way to improve your'e knowledge in general topics</p>
	<p>Improve yourself with some exams</p>
	<a
		href="#"
		class="btn px-4 py-2 w-44 mx-auto bg-lightPurple hover:bg-blue text-center font-second"
		>Register Now</a
	>
</main>
