<header class="site__header">
  <div class="navigation__container">
    <h1 class="logo">BerryExams</h1>
    <nav class="navbar">
      <a
        routerLink="/"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >Home <fa-icon class="nav__icon" [icon]="faHome"></fa-icon
      ></a>
      <a
        routerLink="/auth"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >New General Exam</a
      >
      <a routerLink="/" routerLinkActive="active" ariaCurrentWhenActive="page"
        >New Topic Exam</a
      >
    </nav>
  </div>
  @if (logged) {
  <div>
    <h1>Youre logged</h1>
  </div>
  } @else {
  <button class="btn btn__log" (click)="helloWorld()">Logeate we</button>
  }
</header>
